/* Headers */

h1,h2{
  font-size: 20pt;
  color: green;
  font-style: italic;
}
h3{  /* affects only the number in the body, not the TOC.
  The <a> makes it blue in the TOC.*/
  font-size: 18pt;
  color:red;
}
h4,h5,h6{
  font-size: 16pt;
}
#title{
  font-size: 14pt;
}
a{
  color:blue;
}
.tocify{
  color:blue;
}
/*
.TOC{
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  overflow:auto;
  color: blue;
}
*/
.disabled {
  border: gray;
  background: gray;
  padding: 15px 32px;
}
.enabled {
  border: black;
  background: white;
  padding: 15px 32px;
}

