/* Headers */

h1,h2{   /* elements (tags)*/
  font-size: 20pt;
  color: green;
  font-style: italic;
}
h3{  /* affects only the number in the body, not the TOC.
  The <a> makes it blue in the TOC.*/
  font-size: 16pt;
  font-style: italic;
  color:green;
}
h4{
  color:orange!important; /*works but not in TOC*/
  font-size: 14pt;
}
h5{
  color:purple;
  font-size: 14pt;
}
#title{
/*The id of an element is unique within a page, so the id selector is used to select one unique element!
*/
  font-size: 14pt;
}
.sidebar{  /* sidebar class */
  color:orange!important
}

a{
  color:blue;
}
.tocify{
  color:blue;
}
/*
.TOC{
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  overflow:auto;
  color: blue;
}
*/
.modal-dialog {
  width: fit-content!important;
/*  https://stackoverflow.com/questions/63882483/how-to-adjust-shiny-modaldialog-width-to-a-dt-object-to-fully-show-the-table-i*/
}

.disabled {
  border: gray;
  background: gray;
  padding: 15px 32px;
}
.enabled {
  border: black;
  background: white;
  padding: 15px 32px;
}

