/* "can only have one file in the YAML css clause"? */
/* Not used.  see lumpsplit.css */

#TOC {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  overflow:auto;
  color: red;
}

#h1 {
  color: green;
}
#h2 {
  color: red;
}
*/
